apiVersion: v1
kind: Secret
metadata:
  name: app
  namespace: resume-haus
type: Opaque
stringData:
  appId:
  securityKey:
  tablePrefix:
---
apiVersion: v1
kind: Secret
metadata:
  name: db
  namespace: resume-haus
type: Opaque
stringData:
  database:
  username:
  password:
  rootPassword:
