apiVersion: v1
kind: Secret
metadata:
  name: app
  namespace: simple-slides
type: Opaque
stringData:
  appKey:
  sendgridApiToken:
  digitalOceanAccessKey:
  digitalOceanSecretKey:
---
apiVersion: v1
kind: Secret
metadata:
  name: db
  namespace: simple-slides
type: Opaque
stringData:
  database:
  username:
  password:
  rootPassword:
